body {
	background: #272822;
	color: #60D9F1;
	font-family: 'Inconsolata', sans-serif;
}
#header {
	width: 100%;
	height: 10em;
	position: absolute;
	top: 0;
	left: 0;
	background: #171814;
	text-align: center;
}
span {
	color: #F8F8F2;
}
h1 {
	color: #F41F71;
	font-size: 3em;
}

h2 {
	color: #A4E402;
	font-size: 2em;
}

h3 {
	color: #A4E402;
	font-size: 2em;
}

#nav_bar {
	top: 10em;
	left: 0;
	width: 15%;
	height: 100%;
	position: absolute;
	text-align: center;
	background: #41413F;
}
#nav_bar li {
	height: 3em;
}

ul {
	list-style: none;
	padding: 0;
}

p {
	margin-left: 2em;
}

a {
	color: #AF7DFD;
	text-decoration: none;
	font-size: 1.3em;
}

a:hover {
	color: #F41F71;
}
#projects {
	width: 70%;
	right: 0;
	top: 10em;
	position: absolute;
}